

.optionsDivider {
    position: relative;
    z-index: 50;
    cursor: pointer;
    height: 50px;
    background: white;
    color: #555555;
    font-size: .85rem;
    font-family: Roboto;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
    transition: 150ms linear;
    font-weight: bold;

}

.optionsDivider:hover {
    color: #0095ff;

}

.divider {
    background: #ecedf2;
    height: 1px;
    width: 100%;
}


.stepRounded {
    cursor: grab;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    border: #e0e0e0 1px solid;
}

.stepRect {
    cursor: grab;
    width: 80px;
    height: 30px;
    border: #e0e0e0 1px solid;
}

.elementsContainer {
    display: grid;
    gap: 4px;
    transition: 150ms linear;
    border-radius: 5px;
    background: transparent;
    /*border-bottom: #e0e0e0 1px solid;*/
    border: #e0e0e0 1px solid;

    overflow: hidden;
}

.elementsContainer:hover {
    background: #f4f5fa;
}

.container {
    width: 100%;
    align-self: stretch;
    overflow-y: auto
}

.overflowEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
