.cardWrapper {
    width: calc(24% + 1.7px);
    height: 25vh;
    overflow: hidden;
    border-radius: 8px;

    background: var(--fabric-background-primary);
    border: var(--fabric-border-primary) 1px solid;
    cursor: pointer;

    transition: 150ms linear;

    user-select: none;
    position: relative;
}

.cardWrapper:active {
    transform: scale(.98);
}

.cardImage {
    height: 75%;
    overflow: hidden;
    transition: 150ms linear;
}

.cardContent {
    border-top: var(--fabric-border-primary) 1px solid;
    transition: 150ms linear;
    padding: 8px;

    display: grid;
    gap: 4px;
    align-items: flex-start;
    align-content: flex-start;
}

.cardWrapper:hover .cardImage {
    height: 25%;
}

.cardWrapper:hover .cardContent {
    height: 75%;
}

.cardWrapper:hover .description {
    white-space: normal;
}

.header {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--fabric-color-secondary);
}

.description {
    font-size: .8rem;
    font-weight: normal;
    color: var(--fabric-color-tertiary);

    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.categories {
    display: flex;
}

.category {
    font-size: .75rem;
    font-weight: bold;
    color: var(--fabric-color-tertiary);

    position: absolute;
    top: 8px;
    left: 8px;
    transition: 150ms linear;
    transform: translateX(calc(-100% - 8px));
}
.cardWrapper:hover .category {
    transform: translateX(0);
}
