@import '../../../misc/theme/styles.module.css';

.wrapper {
    position: relative;

}

.buttons {
    width: 200px;
    border-radius: 5px;
    background: var(--fabric-background-primary);
    height: auto;
    box-shadow: var(--fabric-box-shadow-primary) 0 0 2px 1px;

    overflow-y: auto;
    max-height: clamp(250px, 10vh, 300px);

    display: grid;
    transition: 150ms ease;
}


.button {


    overflow: hidden;
    outline: none;
    border: none;
    padding: 12px 0 12px 8px;
    text-align: left;
    background: transparent;

    transition: 150ms linear;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonLabel {
    text-align: left;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    width: 100%;
}
