@import "../../../misc/theme/styles.module.css";
@import url('http://fonts.cdnfonts.com/css/roboto');

.header {
    background-color: var(--mfc-background-primary);
    border-radius: 5px;
    margin: auto;
    border: var(--mfc-border-primary) 1px solid;

    height: fit-content;
    width: fit-content;

    display: grid;
    /*border-bottom: var(--mfc-border-primary) 1px solid;*/
    transition: 150ms ease-in;
}

.tabs {
    margin: auto;
    display: flex;
    align-items: center;
}


.button {
    text-transform: uppercase;
    /*font-family: "Roboto" !important;*/
    text-rendering: optimizeLegibility;
    color: var(--mfc-color-tertiary);
    font-weight: bold;
    font-size: .73rem;
    padding: 8px 32px;
    height: 35px;
    transition: 150ms ease;

}

.button:hover, .button:active, .button[data-highlight="true"] {
    color: var(--color) !important;
}


.enterA {
    animation: enter 150ms ease-in-out;
}

.exitA {
    animation: exit 150ms ease-in-out;
}

@keyframes exit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

