/*HEADER*/
.headers {
    display: grid;
    align-items: flex-start;
    text-align: left;

}

.header[ data-variant = 'primary'] {
    font-size: 1.3rem;
    color: var(--mfc-color-secondary);
    font-weight: 600;

    font-family: 'Roboto';

    margin: 0;
    padding: 0;
}

.header[ data-variant = 'secondary'] {
    font-size: .95rem;
    color: var(--mfc-color-tertiary);
    font-weight: 600;

    font-family: 'Roboto';

    margin: 0;
}

.header[ data-variant = 'tertiary'] {
    font-size: .75rem;
    color: var(--mfc-color-quaternary);
    font-weight: 600;

    font-family: 'Roboto';

    margin: 0;
}


/*BODY*/
.body {

    border: var(--mfc-border-primary) 1px solid;
    border-radius: 5px;
    padding: 8px;
    display: grid;
    align-items: flex-start;
    gap: 12px;
    background: var(--mfc-background-primary);
    text-align: left;
    font-size: .9rem;
    color: var(--mfc-color-tertiary);
}



.baseText {
    margin: 0;
    font-size: 1rem;
}


/*MISC*/
.block {
    display: grid;
    gap: 12px;
}

.link {
    transition: 150ms linear;
    width: fit-content;
    text-decoration: none;
    color: #0095ff;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.link:active {
    color: var(--mfc-color-quaternary);
    text-decoration: none;
}

.footer {
    background: var(--mfc-background-primary);
    border: var(--mfc-border-primary) 1px solid;
    border-radius: 5px;
    padding: 16px;

    display: flex;
    text-align: left;
    font-size: .9rem;
    color: var(--mfc-color-tertiary);
}

.wrapper {
    width: 100%;
    display: grid;
    gap: 32px;
height: fit-content;

    padding-bottom: 25%;
}

.container {
    padding: 8px 0;
    display: flex;
    scroll-behavior: smooth;
    max-height: 100%;
    overflow-y: auto;
    gap: 32px;


}
.nativeCode{
    gap: 8px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: var(--mfc-border-primary) 1px solid;
    display: flex;
    flex-flow: row wrap;
}


.preFormattedText {

    margin: 16px 0 0;
    justify-self: stretch;

    background: var(--mfc-background-secondary);
    border: var(--mfc-border-primary) 1px solid;
    color: var(--mfc-color-primary);
    border-radius: 5px;
    padding: 16px 24px;
    text-align: left;
}
