.wrapper {
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.button {
    padding: 0 !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    position: relative;
}

.tabs {
    transition: none;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: grid;
    gap: 8px;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 30px;
}

.filler{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--fabric-background-primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: 150ms linear;
}
.filler[data-filled = 'true']{
    background: #0095ff;
}