@import '../../../misc/theme/styles.module.css';


.activeFiltersContainer{
    height: auto;
    max-height: 100px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    padding: 8px 0;
    width: 100%;
}

.modalWrapper {
    height: 50vh;
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 16px;
    width: 100%;
    background: var(--mfc-background-primary);
    border-radius: 8px 8px 0 0;

    display: flex;
    gap: 16px;

}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.filter {


    background-color: var(--mfc-background-primary);
    border: var(--mfc-border-primary) 1px solid;
    color: var(--mfc-color-secondary);
    font-size: .85rem;

    user-select: none;
    padding: 4px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    border-radius: 5px;

    height: 30px;
    width: fit-content;
    cursor: pointer;

    transition: 150ms linear;
}

.container {
    position: relative;
    width: 40%;
    border-radius: 5px;
    border: var(--mfc-border-primary) 1px solid;
    padding: 8px;
    display: grid;

    align-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    color: var(--mfc-color-secondary);
    height: 32px;
    font-weight: bold;
    font-family: "Roboto";
}

.fields {
    display: flex;
    flex-flow: row wrap;
    gap: 4px;
}


.button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters {


    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background: var(--mfc-background-secondary);
    border: var(--mfc-border-primary) 1px solid;
    padding: 8px;

    overflow-y: auto;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    border-radius: 5px;
}

.filterButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 16px;
    gap: 16px;
    background: var(--mfc-background-primary);
    width: calc(33.333% - 6px);
}
/*.filterButton[data-highlight]:active {*/
/*    opacity: .7;*/
/*}*/