
.wrapper {
    --accent_color: #0095ff;

    transition: 150ms linear;
    height: fit-content;

    outline: transparent 1px solid;
    border-radius: 5px;
}

.secondaryVariant {
    --accent_color: #ff5555;
}


.wrapper:hover, .wrapper:focus-within, .wrapper[data-highlight], .wrapper:active {
    outline: var(--accent_color) 1px solid;
}

.wrapper[data-disabled], .wrapper:disabled {
    outline: transparent 1px solid;
}


.labelContainer {
    transition: 200ms ease-in-out;

    color: var(--mfc-color-secondary);
    /*font-weight: 600;*/
    font-size: .8rem;
    margin-top: auto;
    user-select: none;
    font-family: "Roboto";
    text-transform: capitalize;

    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 75%;
    overflow: hidden;

}

.alertLabel {
    color: var(--mfc-color-quaternary);
    font-family: "Roboto";
    margin-left: auto;
    font-size: .75rem;
    user-select: none;

}