.light {
    --fabric-background-primary: white;
    --fabric-background-secondary: #f3f6f9;
    --fabric-background-tertiary: #f4f5fa;
    --fabric-background-quaternary: #E8F0FE;

    --fabric-border-primary: #F1F1F5;
    --fabric-border-secondary: #e0e0e0;

    --fabric-color-primary: #333333;
    --fabric-color-secondary: #555555;
    --fabric-color-tertiary: #666666;
    --fabric-color-quaternary: #777777;
    --fabric-color-quinary: #999999;
    --fabric-color-senary: white;

    --fabric-box-shadow-primary: #e0e0e0;
}

.dark {


    --fabric-background-primary: #292c2b;
    --fabric-background-secondary: #1e2121;
    --fabric-background-tertiary: #191C1C;
    --fabric-background-quaternary: #1f2123;

    --fabric-border-primary: #1e2121;
    --fabric-border-secondary: #707070;

    --fabric-color-primary: #f4f5fa;
    --fabric-color-secondary: #f4f5fa;
    --fabric-color-tertiary: #f0f0f0;
    --fabric-color-quaternary: #e0e0e0;
    --fabric-color-quinary: #dedede;
    --fabric-color-senary: #292c2b;

    --fabric-box-shadow-primary: #1e2121;
}

